@charset "utf-8";

/* board */
.board {font-family: Hanna, sans-serif}
.board h6{font-family: Hanna, sans-serif;}
.board h2{font-family: Hanna, sans-serif;}
.boardList ul {margin-top: auto; list-style: none;}
.boardList li {width:100%; height:200px; background-color:#434343; margin-top:20px;}
.boardList li img {width:150px; height:150px; margin:25px 0 0 25px;}